backcall==0.2.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.0.1
circuitbreaker==1.4.0
cryptography==38.0.4
decorator==5.1.1
idna==3.4
ipdb==0.13.11
ipython==7.34.0
jedi==0.18.2
matplotlib-inline==0.1.6
oci==2.90.2
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.36
ptyprocess==0.7.0
pycparser==2.21
Pygments==2.14.0
pyOpenSSL==22.1.0
python-dateutil==2.8.2
python-decouple==3.7
pytz==2022.7.1
requests==2.28.2
six==1.16.0
tomli==2.0.1
traitlets==5.8.1
urllib3==1.26.14
wcwidth==0.2.6
